// font-family: 'Bebas Neue', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Fascinate', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Shadows Into Light', cursive;
.text-f-bebas{
    font-family: 'Bebas Neue', cursive;
}
.text-f-dancing{
    font-family: 'Dancing Script', cursive;
}
.text-f-fascinate{
    font-family: 'Fascinate', cursive;
}
.text-f-permanent-mark{
    font-family: 'Permanent Marker', cursive;
}
.text-f-shadow-into-light{
    font-family: 'Shadows Into Light', cursive;
}
.text-f-fira-sans{
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

