

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Credits
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ol align="left">
            <li><a href="https://www.freepik.com/vectors/server-error">Server error vector created by storyset - www.freepik.com</a></li>
            <li><a href='https://www.freepik.com/vectors/network'>Network vector created by rawpixel.com - www.freepik.com</a></li>
            <li><a href='https://www.freepik.com/vectors/abstract-stripes'>Abstract stripes vector created by Harryarts - www.freepik.com</a></li>
            <li><a href='https://www.freepik.com/vectors/flat-abstract'>Flat abstract vector created by freepik - www.freepik.com</a></li>
        </ol>
    </mat-expansion-panel>
</mat-accordion>

<div align="center" class="pt-4 text-black">
    Copyright 2022 by Ziddan as Creator. All Rights Reserved.
</div>