<mat-card class="mt-4 text-left" >
    <mat-card-header>
        <mat-card-title>Suggestion</mat-card-title>
        <mat-card-subtitle>this is some suggestion for making short link <br> <b>(No Ads Anymore & Free to use)</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="px-4">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Your own link too long for share to everyone
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    Let say you are copy something in a site and the link too long;
                    Something like this : <br>
                    <code>
                        https://uvevwvevwvevw.cuk/s/568686s/789d/9as9kdjhdl
                    </code> <br>
                    or maybe like this : <br>
                    <code>
                        https://daickaijaoseae.co.rus.geek/zzzz/sleep/gone/away
                    </code>
                  </p>
                  <p>
                    Hell yaaa, is hard to manage thats link. so.. you can start to make shortlink over here, and catchy.
                  </p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        You want to make a link customize for Easy to Read it
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      yeah sometimes everything is non-sense, so if you have online store and want to share your stuff to the Social Media Platform like twitter, facebook, etc. 
                      This link honestly, non-sense: <br>
                      <code>
                          https://daickaijaoseae.co.rus.geek/zzzz/axWaft/gine
                      </code> <br>
                      and you can generate be like this : <br>
                      <code>
                        https://no-ads-link.web.app/myStuff
                      </code>
                    </p>
                    <p>
                      Oh i know, you want to make a Discount right? yeah you can customize to be like this : <br>
                      <code>https://no-ads-link.web.app/GuitarDisc20percent</code><br>
                      <code>https://no-ads-link.web.app/RedShirtDisc50%</code><br>
                      <code>https://no-ads-link.web.app/GuavaDisc7k</code><br>
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>