<div class="std-page" align="center">
    <mat-card class="card" align="left">
        <mat-stepper >
            <mat-step>
                <mat-card-title>
                    Step 1
                </mat-card-title>
                <mat-card-subtitle>
                    Set your link destination and customize your short link
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Destination Link</mat-label>
                        <input matInput [(ngModel)]="oriLink" [placeholder]="oriLinkOption.placeholder" (keyup)="toURLize('oriLink')" (change)="validate()">
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Customize Link</mat-label>
                        <input matInput [placeholder]="shortLinkOption.placeholder" [(ngModel)]="shortLink" (keyup)="checkAvailability()" (change)="checkAvailability();" (click)="showMessage = true">
                        <mat-hint *ngIf="showMessage">{{isAvailable? "Link Tersedia" : (shortLink.length<4 ? "Karakter harus berisi setidaknya 4 huruf": "Tidak Tersedia") }} </mat-hint>
                    </mat-form-field>
                    <br><br>
                    <button mat-raised-button color="primary" [disabled]="!isValidToGenerate" (click)="generate()" matStepperNext>Generate</button>
                </mat-card-content>
            </mat-step>
            <mat-step>
                <mat-card-title>Step 2</mat-card-title>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>